* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin-top: 50px;
  background-color: #ff7f50;
  padding: 30px 0;
}

.wrapper .container {
  max-width: 1170px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.wrapper__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.wrapper__input {
  max-width: 200px;
  width: 100%;
  height: 40px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
}

.wrapper__btn {
  padding: 10px 5px;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-transition: all 0.8s linear;
  background-color: #deb887;
  transition: all 0.8s linear;
}

.wrapper__btn:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.wrapper__btn:active {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}

.wrapper__subtitle {
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin: 0 0 30px 0;
}

table, td, th {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #000000;
}

table span {
  font-size: 10px;
  cursor: pointer;
}

table span:hover {
  color: red;
}

.wrapper__btn-dismiss {
  display: inline-block;
  max-width: 150px;
  width: 100%;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  background-color: #deb887;
  
}

.wrapper__btn-dismiss:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.wrapper__btn-dismiss:active {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}

.wrapper__btn-sum {
  display: inline-block;
  max-width: 150px;
  width: 100%;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  background-color: #deb887;
  
}

.wrapper__btn-sum:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.wrapper__btn-sum:active {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}

.wrapper img {
  width: 10px;
  height: 10px;
}

#check-box {
  width: 40px;
}

#th-name {
  width: 150px;
}

#th-sum {
  width: 150px;
}
